@model CareerCenter.MVC.Models.PartnerView

@{
    ViewData["Title"] = "Редактирования";
    Layout = "_LayoutAdmin";
}

@ViewData["Title"]

<h4>Партнер</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label adomx-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive">
                    <i class="icon"></i>@Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control select2">
                    <option value="0">Не выбрано</option>
                    @if (ViewBag.Categories != null)
                    {
                        @foreach (PartnerCategoryView category in ViewBag.Categories)
                        {
                            @if (Model.CategoryId == category.Id)
                            {
                                <option selected value="@category.Id">@category.DisplayName</option>

                            }
                            else
                            {
                                <option value="@category.Id">@category.DisplayName</option>
                            }
                        }
                    }
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="Logo" class="control-label"></label>
            <input asp-for="Logo" class="form-control" />
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input type="file" asp-for="FileUpload" class="form-control dropify" data-default-file="/uploads/@Model.Logo"  data-allowed-file-extensions="png jpg jpeg" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea class="form-control summernote" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Logo" />
            <input type="hidden" asp-for="CretedAt" />

            @*<div class="form-group">
            <label asp-for="CretedAt" class="control-label"></label>
            <input asp-for="CretedAt" class="form-control" />
            <span asp-validation-for="CretedAt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAt" class="control-label"></label>
            <input asp-for="UpdatedAt" class="form-control" />
            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button button-apple" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
