@model CareerCenter.MVC.Models.RegulationView

@{
    ViewData["Title"] = "Редактирования";
    Layout = "_LayoutAdmin";
}

@ViewData["Title"]

<h4>Нормативный правовый документы</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label adomx-checkbox">
                    <input class="form-check-input" type="checkbox" asp-for="IsActive">
                    <i class="icon"></i>@Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control select2">
                    <option value="0">Не выбрано</option>
                    @if (ViewBag.Categories != null)
                    {
                        @foreach (RegulationCategoryView item in ViewBag.Categories)
                        {
                            if (Model.CategoryId == item.Id)
                            {
                                <option selected value="@item.Id">@item.Title</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.Title</option>
                            }

                        }
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger">х</span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input type="file" asp-for="FileUpload" class="form-control dropify" data-default-file="/uploads/@Model.File" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea class="form-control summernote" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="File" />
            <input type="hidden" asp-for="CretedAt" />

            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button button-apple" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
