@model UserView
@using CareerCenter.Core.Models
@{
    ViewData["Title"] = "Создания";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control select2"> 
                    <option value="0">Не выбрано</option>
                    @if (ViewBag.Roles != null)
                    {
                        @foreach (Role item in ViewBag.Roles)
                        {
                            <option value="@item.Name">@item.DisplayName</option> 
                        }
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOfEnd" class="control-label"></label>
                <input asp-for="YearOfEnd" class="form-control" />
                <span asp-validation-for="YearOfEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <textarea class="form-control summernote" asp-for="Bio"></textarea>
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control dropify" data-allowed-file-extensions="png jpg jpeg" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inn" class="control-label"></label>
                <input asp-for="Inn" class="form-control" />
                <span asp-validation-for="Inn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityCode" class="control-label"></label>
                <input asp-for="SpecialityCode" class="form-control" />
                <span asp-validation-for="SpecialityCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhone" class="control-label"></label>
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelOfEducation" class="control-label"></label>
                <input asp-for="LevelOfEducation" class="form-control" />
                <span asp-validation-for="LevelOfEducation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormOfEducation" class="control-label"></label>
                <input asp-for="FormOfEducation" class="form-control" />
                <span asp-validation-for="FormOfEducation" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Quote" /> @Html.DisplayNameFor(model => model.Quote)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GetDiplom" /> @Html.DisplayNameFor(model => model.GetDiplom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="GetExcelantDiplom" /> @Html.DisplayNameFor(model => model.GetExcelantDiplom)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SendToJob" /> @Html.DisplayNameFor(model => model.SendToJob)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEmployed" /> @Html.DisplayNameFor(model => model.IsEmployed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ArrivedToJob" /> @Html.DisplayNameFor(model => model.ArrivedToJob)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label"></label>
                <input asp-for="Region" class="form-control" />
                <span asp-validation-for="Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="control-label"></label>
                <input asp-for="BirthPlace" class="form-control" />
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicDegree" class="control-label"></label>
                <input asp-for="AcademicDegree" class="form-control" />
                <span asp-validation-for="AcademicDegree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Languages" class="control-label"></label>
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeptuies" class="control-label"></label>
                <input asp-for="IsDeptuies" class="form-control" />
                <span asp-validation-for="IsDeptuies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAwarded" class="control-label"></label>
                <input asp-for="IsAwarded" class="form-control" />
                <span asp-validation-for="IsAwarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsSectoralAwarded" class="control-label"></label>
                <input asp-for="IsSectoralAwarded" class="form-control" />
                <span asp-validation-for="IsSectoralAwarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasisOfLearning" class="control-label"></label>
                <input asp-for="BasisOfLearning" class="form-control" />
                <span asp-validation-for="BasisOfLearning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditQty" class="control-label"></label>
                <input asp-for="CreditQty" class="form-control" />
                <span asp-validation-for="CreditQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GroupCode" class="control-label"></label>
                <input asp-for="GroupCode" class="form-control" />
                <span asp-validation-for="GroupCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedUserName" class="control-label"></label>
                <input asp-for="NormalizedUserName" class="form-control" />
                <span asp-validation-for="NormalizedUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NormalizedEmail" class="control-label"></label>
                <input asp-for="NormalizedEmail" class="form-control" />
                <span asp-validation-for="NormalizedEmail" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PasswordHash" class="control-label"></label>
                <input asp-for="PasswordHash" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityStamp" class="control-label"></label>
                <input asp-for="SecurityStamp" class="form-control" />
                <span asp-validation-for="SecurityStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConcurrencyStamp" class="control-label"></label>
                <input asp-for="ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="ConcurrencyStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TwoFactorEnabled" /> @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="LockoutEnabled" /> @Html.DisplayNameFor(model => model.LockoutEnabled)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button button-apple" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
